<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
    <title>Spa Menu</title>
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet" />
</head>
<body>
<h1>My Super Fancy Spa</h1>
<div id = "clientProfile">
    <h2>My Profile</h2>
    <p th:text="'Your name: ' + ${name}"></p>
    <p th:text="'Your skin type: ' + ${skintype}"></p>
    <p th:text="'Your choice: ' + ${manipedi}"></p>
</div>
<div id = "servicesMenu">
    <h2>Facial Treatments</h2>
    <ol>
        <th:block th:each="appropriate : ${appropriateFacials}">
            <li th:text="${appropriate}"></li>
        </th:block>
    </ol>
</div>

<div th:replace="fragments :: servicesMenu"></div>
<footer th:replace="fragments :: myFooter"></footer>
</body>
</html>